<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container resume">
      <header>
        <div class="row=fluid">  
          <div class="span4 offset4">
            <h3>
              Siegfried J. Bilstein
            </h3>
          </div>
        </div>
        <div class="row-fluid">    
          <div class="span8 offset2">
            <ul class="information-row">
              <li>
                619 Summit Ave E Apt B Seattle, WA 98102  
              </li> 
              <li>
                (305) 469-1523 
              </li>
              <li>
                sbilstein@gmail.com
              </li>  
            </ul>
          </div>
        </div>    
      </header>
      <div class="row-fluid"> 
        <div class="span8 offset2">
          <h4>
            Work Experience
          </h4>
          <strong>Egraphs.com</strong> Seattle, WA<br>
          Full Stack Engineer, <em>May 2012 - Present</em> 
          <ul>
            <li>
              Solely developed and designed the marketplace enabling users to browse and search for over 180 baseball players. Using AngularJS, PostgreSQL full text search, and redis I developed the front end interactions as well as the back end schema and caching, to provide a faceted navigation experience.
            </li>
            <li>
              Extended marketplace to support celebrities across new verticals such as NBA, Swimming, and Music. 
            </li>
            <li>
              Drove A/B testing and instrumentation efforts across the website using Optimizely and Google Analytics.
            </li>  
            <li>
              Developed and designed various features to improve user acquisition such as new dialogs to encourage user sign ups. 
            </li>
            <li>
              Redesigned and developed a new homepage informed by both analytics and UX research that saw improvements in both bounce rate and conversion.
            </li>  
            <li>
              Implemented user settings and profile pages to prepare for website public launch
            </li>
          </ul>
        <div>
        <div>  
          <strong> Microsoft, Online Services Division, Bing</strong> Bellevue, WA<br>
          Program Manager, <em>August 2011 - May 2012</em>
          <ul>
            <li>
              Worked with various teams across business and engineering to prepare core Bing features for international rollout in a way that minimized disruption to engineering priorites.
            </li>
          </ul>
        </div>  
        <div>
          <strong>Rice Multi Robot Systems Lab</strong> Houston, TX<br>
          Student Researcher, <em>November 2009 - June 2011</em>
          <ul>
            <li>
              Developed graphical simulators in Java for various robotics experiments that enabled researchers to quickly experiment with algorithms and generate datasets for use in publications. I used some of my own simulations to publish a paper at the WAFR2012 conference.
            </li>
            <li>
              Developed peripheral drivers in C for a new robot platform called <a href="http://mrsl.rice.edu/projects/r-one">R-one</a> on Stellaris ARM to interface with motors, accelerometers, gyroscopes, infrared and radio systems. This required learning how to troubleshoot hardware as well as software using gdb, oscilloscopes and various tools. The platform is intended for use in both research and educational purposes. I contributed to a publication about the robot for the DARS2010 conference.
            </li>
          </ul>
        </div>  
        <div>
          <h4> Education </h4>
          Rice University, Houston, TX
          BS of Computer Science, Specialization in Networking
        </div>
        <div>  
          <h4>Technical Summary</h4>
          I consider myself a generalist software developer who looks forward to any challenge. I enjoy thinking about design, user experience, marketing, and scalable web applications. I have had experience working on embedded systems, but have been focused on the web since graduation.

          <ul>
            <li> Deep Scala, C, PostgreSQL, HTML5, CSS3, JavaScript, Git, Unix, Play! Framework </li>
            <li> Intermediate: Python, Angular.JS , SVN, Java</li>
            <li>Some Experience: Node.JS, PHP, Ruby on Rails</li>
          </ul>  
        </div>
        <div>  
          <h4>Volunteer Experience </h4>
          Rice Engineers Without Borders Houston, TX
          Internal Vice President, April 2009 - March 2011
          <ul>
            <li>
              Raised over $40,000 via grants and pledges to support student projects and travel extending access to clean water in rural Nicaragua, El Salvador, and Honduras
            </li>
            <li>
              Led three student trips to Honduras
            </li>
          </ul>
        </div>
        <div>    
          <h4> Additional Information</h4>
          <ul>
            <li>
              Interests: Running, CrossFit, Guitar, Cooking, Reading
            </li> 
            <li> 
              Fluent Spanish speaker with a few semesters of coursework 
            </li> 
            <li> 
              Rice Mathematics Department Student Researcher, Fall 2008 - Spring 2009
            </li> 
            <li>  
              Eagle Scout, Troop 65 Senior Patrol Leader, Miami Beach, FL
            </li>
          </ul>  
        </div>
      </div>  
    </div>  
  </body>
</html>