<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container resume">
      <header>
        <div class="row=fluid">  
          <div class="span12">
            <h3>
              Siegfried J. Bilstein
            </h3>
          </div>
        </div>
        <div class="row-fluid">    
          <div class="span8 offset2">
            <ul class="information-row">
              <li>575 27th St Apt 1 San Francisco, CA 94131</li> 
              <li>(305) 469-1523</li>
              <li>sbilstein@gmail.com</li>
            </ul>
            <ul class="information-row">    
              <li>github.com/sbilstein</li>
              <li>linkedin.com/in/siegfriedbilstein</li>  
            </ul>
          </div>
        </div>    
      </header>
      <div class="row-fluid"> 
        <div class="span10 offset1">
          <div>  
            <h4>
              Work Experience
            </h4>
            <div>
            </div>
              <span><strong>Software Engineer</strong><em>&nbsp;LinkedIn, Mountain View, CA</em></span><span class="range">
              <ul>
              <li>
                Joined Linkedin as part of Egraphs talent acquisition to bring expertise in Scala, Play, Git, and full-stack engineering. 
              </li>
              <li>
                Developed Hadoop workflows in Pig and Java to denormalize search index data for calculating Teamlink networks. Teamlink connections are one's connections through current and former colleagues. These queries are expensive in real time, so we used Hadoop to provide fast reverse lookup of connections and network size.
              </li>
              <li>
                Rapidly prototyped a Salesforce facing ETL system using Play and MongoDB to validate and improve early product designs. Upon completion of the prototype, I led productization of an application that extracted a customer's sales data via Salesforce REST API and transformed that data into LinkedIn entities, which provided the core data for a LinkedIn's sales intelligence user's account.
              </li>
              <li>
                Led a series of workshops to help engineers on the monetization team learn functional and reactive programming in Scala.
              </li>
              </ul>
            </div>
            <div>
              <span><strong>Full Stack Engineer</strong><em> Egraphs.com (acquihired by LinkedIn), Seattle, WA</em></span><span class="range">May 2012 - May 2013 </span>
              <ul>
                <li>
                  Independently designed and developed an e-commerce marketplace enabling users to browse and search for 180 baseball players via a tag system. The marketplace was eventually extended to support 500 celebrities in various verticals such as Swimming, Music, and the NBA. Using AngularJS, PostgreSQL full text search, and Redis, I developed the frontend interactions as well as the backend schema and caching to provide a faceted navigation experience. 
                </li>
                <li>
                  Developed various features to enable more effective marketing efforts by non-technical people, such as unifying account emails with Mailchimp, building tools for configuring UI elements without code changes, and customizing a WordPress blog for content marketing. 
                </li>
                <li>
                  Drove A/B testing and instrumentation efforts across the website using Optimizely and Google Analytics. Used learnings to redesign the homepage and develop other features to successfully drive up the conversion rate, reduce the bounce rate, and improve user acquisition efforts. 
                </li>  
                <li>
                   Worked closely with designers, as well as independently, to develop the look-and-feel of website features. Developed all frontend features according to mobile first and responsive design principles. 
                </li>
                <li>Engineered the full stack on a team of seven developing frontend features, APIs, tests, and DB migrations. Worked with Scala, Play! Framework, HTML5/CSS3/LESS, Javascript, and SQL to develop a scalable web application deployed on a PaaS cloud. 
                </li>
              </ul>
          </div>
          <div>  
            <span><strong>Program Manager</strong> <em>Microsoft Bing, Bellevue, WA</em></span><span class="range">August 2011 - May 2012</span>
            <ul>
              <li>
                Worked with engineering teams to ensure on-time and high quality launch of the Bing homepage redesign in over 15 markets in Asia, Europe, and Latin America. I advised engineers on internationalization issues, prioritized and scheduled QA time with testers, and tracked bugs with developers. 
              </li>
              <li>
                Communicated engineering issues and schedules to business analysts and operations for international release of several Bing features. 
              </li>  
            </ul>
          </div>  
          <div>
            <span><strong>Student Researcher</strong> <em>Rice Multi Robot Systems Lab Houston, TX</em></span>
            <span class="range">November 2009 - June 2011</span>
            <ul>
              <li>
                Developed graphical simulators in Java for various robotics experiments that enabled researchers to quickly experiment with algorithms and generate datasets.
              </li>
              <li>
                Developed peripheral drivers in C for a new <a href="http://mrsl.rice.edu/projects/r-one">R-one</a> robot platform on Stellaris ARM to interface with motors, accelerometers, gyroscopes, infrared and radio systems. This required learning how to troubleshoot hardware as well as software using gdb, oscilloscopes and various tools. The platform is intended for use in both research and educational purposes.
              </li>
              <li>
                Published two peer-reviewed journal articles on swarm robotics systems.
              </li>
            </ul>
          </div>  
          <div>
            <h4> Skills and Education </h4>
            <span><strong>BS Computer Science</strong> <em>Rice University, Houston, TX</em></span>
                        <span class="range">August 2007 - May 2011</span>
            <ul>
              <li>Relevant Courses: Operating systems, language theory, compilers, completed specialization in networking.
              <li>Languages (by fluency): Scala, HTML/LESS/Javascript, C, Java, SQL, Python, Bash, Matlab</li>
              <li>Frameworks/libraries (by expertise): Play! Framework, jQuery, AngularJS, NodeJS, Ruby on Rails</li>
              <li>Embedded Development: Arduino, Stellaris ARM, Verilog</li>
            </ul>  
          </div>
          <div>  
            <h4>Academic Publications</h4>
            <ul>
              <li>Scale-Free Coordinates for Multi-Robot Systems with Bearing-only Sensors WAFR2012</li>
              <li>A Low-Cost Multi-robot System for Research, Teaching, and Outreach DARS2010</li>  
            </ul>  
          </div>  
          <div>  
            <h4>Volunteer Experience </h4>
            <span><strong>Vice President</strong> <em>Rice Engineers Without Borders, Houston, TX</em></span>
            <span class="range">April 2009 - March 2011</span>
            <ul>
              <li>
                Raised over $40,000 via grants and pledges for projects providing sanitary water to rural villagers in Honduras, El Salvador, and Nicaragua. We covered all travel costs to enable students of any means to participate in the projects.
              </li>
              <li>
                Led three student volunteer trips to Honduras to build clean water systems. 
              </li>
            </ul>
          </div>
          <div>    
            <h4> Additional Information</h4>
            <ul>
              <li>
                Interests: Running, CrossFit, Guitar, Cooking, Reading
              </li> 
              <li> 
                Fluent Spanish speaker with coursework in commercial Spanish.
              </li> 
              <li>  
                Eagle Scout, Troop 65 Senior Patrol Leader, Miami Beach, FL
              </li>
            </ul>  
          </div>
      </div>  
    </div>  
  </body>
</html>